<div class="well">
  <h3 class="info">Editar</h3>
  <div class="panel panel-success">
    <div class="panel-heading">
      <br/>
      <div class="input-group">
      <input class="form-control" type="text" ng-model="selec.titulo">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button">Editar</button>
      </span>
    </div>
    </div>
    <div class="panel-body">
      <table class="table table-hover table-responsive">
        <thead>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>&nbsp;</th>
        </thead>
        <tbody ng-repeat="item in selec.items">
          <td><input class="form-control" type="text" ng-model="item.nombre"></td>
          <td><input class="form-control" type="number" ng-model="item.unid"></td>
          <td><button class="btn btn-success">Editar</button></td>
        </tbody>
      </table>
    </div>
  </div>
</div>
