<div class=" col-xs-12 well">
  <h3 class="info">Editar</h3>
  <div class="panel panel-success">
    <div class="panel-heading">
      <br/>
      <span class="text-default"><strong>Nombre</strong></span><br/>
      <div class="input-group">

      <input class="form-control" type="text" ng-model="selec.titulo">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button">Editar</button>
      </span>
    </div>
    </div>
    <div class="panel-body">
      <table class="table table-responsive">
        <thead>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <tr ng-repeat="item in selec.items">
            <td><input class="form-control" type="text" ng-model="item.nombre"></td>
            <td><input class="form-control" type="number" ng-model="item.unid"></td>
            <td><button class="btn btn-success">Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="btn btn-primary btn-default form-control center-block" ng-click="guardarCanvis(selec._id)">Guardar Cambios</button>
</div>
