<div class="row-fluid">
    <section class="hidden-xs col-sm-2 col-md-2 col-lg-2 lateral">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a>
            <span class="badge pull-right">{{numeroListas}}</span>
            <span class="badge2">Listas BD</span>
          </a>
        </li>
      </ul>
    </section>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 fondo">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cabe">
        <div class="lista">

          <div class="dentrolista">
            <h3 class="text-primary text-center"><span class="label label-primary">{{titleGuardar}}</span></h3>
              <strong>Nombre</strong><br/>
              <div class="input-group">
                <input type="text" placeholder="Nombre de la Lista" class="form-control" ng-model="nombre">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button" ng-click="afegir()">Guardar</button>
                </span>
              </div>
              <strong>Artículo</strong><br/>
              <div class="input-group">
                <input id="inputradius" type="number" placeholder="Num unidades" class="form-control" ng-model="unid">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" disabled>Unidades</button> </span>
              </div>
              <div class="input-group">

                <input type="text" placeholder="Nombre del producto" class="form-control" ng-model="nombreProd">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button" ng-click="afegirProd($index)">Añadir</button>
                </span>
              </div>
              <div class="input-group center-block">
                <ul class="nav nav-pills nav-stacked">
                  <li class="active">
                    <a>
                      <span class="badge pull-right">{{numeroItems}}</span>
                      <span class="badge2">Artículos añadidos</span>
                    </a>
                  </li>
                </ul>
              </div>

          </div>
        </div>


      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 fondogris">
        <div class="panel panel-primary margen-superior difuminar nuevaFila" ng-show="nuevoTitulo">
          <div class="panel-heading">
            <h4 class="text-centered">{{nuevoTitulo}}</h4>
          </div>
          <br/>
          <div ng-show="items[0].nombre" class="nuevaFila quitaFila">
            <table class="table table-responsive table-hover">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in items" class="nuevaFila quitaFila">
                  <td>{{item.nombre}}</td>
                  <td>{{item.unid}}</td>
                  <td><button class="btn btn-xs btn-danger" ng-click="eliminar($index)">Borrar</button></td>
                </tr>
              </tbody>
            </table>
            <div class="margen-superior center-block" ng-show="true">
              <button type="submit" id="btn_guardar" class="btn btn-primary btn-default" ng-click="create()">Guardar</button>
            </div>
          </div>

        </div>

    </div>
  </div>
