<div class="well">
  <button class="btn btn-danger btn-block" ng-click="cerrarLista()">Cerrar</button>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="text-danger">Listas actuales</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <th>Producto</th>
          <th>Cantidad</th>
        </thead>
        <tbody ng-repeat="item in selec.items">
          <td>{{item.nombre}}</td>
          <td>{{item.unid}}</td>
        </tbody>
      </table>
    </div>
  </div>
</div>
