.difuminar {
	overflow: hidden;
	height: 100%;
	/*
	-webkit-transition: ease-in 0.3s;
	*/
	-webkit-transition: ease-in-out 0.3s;
	-moz-transition: ease-in-out 0.3s;
	-ms-transition: ease-in-out 0.3s;
	-o-transition: ease-in-out 0.3s;
	transition: ease-in-out 0.3s;
}

.difuminar.ng-enter {
	opacity:0;
}
.difuminar.ng-enter-active {
	opacity:1;
}
.difuminar.ng-leave {
	opacity:1;
}
.difuminar.ng-leave-active {
	opacity:0;
}



/* añadir fila en vista newlist*/
.nuevaFila {
	-webkit-transition: 0.3s linear all;
	-moz-transition: 0.3s linear all;
	-ms-transition: 0.3s linear all;
	-o-transition: 0.3s linear all;
	transition: 0.3s linear all;
}

.nuevaFila.ng-enter {
	opacity: 0;
}

.nuevaFila.ng-enter-active {
	opacity: 1;
}


/* borrar fila en vista newlist*/
.quitaFila {
 -webkit-transition: 0.3s linear all;
	-moz-transition: 0.3s linear all;
	-ms-transition: 0.3s linear all;
	-o-transition: 0.3s linear all;
	transition: 0.3s linear all;
}

.quitaFila.ng-leave {
	opacity: 1;
}

.quitaFila.ng-leave-active {
	opacity: 0;
}