/* styles for index.html*/
nav li a:hover {
  cursor: pointer;
}

.fondo {
  margin-top: 2em;
  background: url('../img/supermercadoreb.jpg') no-repeat center;
  height: 450px;
  border-radius: 5px;
  z-index: 1;
}

.cabe {
  margin: 2em;
}

.fondogris {
  margin-top: 2em;
  background-color:#ccc;
  height: 450px;
  border-radius: 5px;
}
